.bttn-applora-gradient:hover span,
.bttn-applora-gradient span,
.bttn-applora-gradient i,
.social-applora-gradient i,
.feat-butt .bttn-applora-gradient:hover span,
.testimonials-style.owl-theme .owl-dots .owl-dot.active span,
.testimonials-style.owl-theme .owl-dots .owl-dot:hover span,
.pricing-table .ribbon span,
.pricingTable-signup .bttn-applora-gradient:hover span,
.blog-slider.owl-theme .owl-dots .owl-dot.active span,
.blog-slider.owl-theme .owl-dots .owl-dot:hover span,
.subscribe-box .custom-input button.btn,
.blog-slider.owl-theme .owl-dots .owl-dot.active span,
.blog-slider.owl-theme .owl-dots .owl-dot:hover span,
.comment-reply-form .butt-reply .bttn-applora-gradient:hover span,
.comment-reply-form .butt-reply .bttn-applora-gradient:hover i,
.a-btn:hover span,
.a-btn span,
.a-btn i,
.testimonials02,
.pricing-table02 .ribbon span,
.blog-slider02.owl-theme .owl-dots .owl-dot.active span,
.blog-slider02.owl-theme .owl-dots .owl-dot:hover span
{
    background: #ca4966;
}

.title-underline:before,
.title-underline:after,
.title-underline i,
.bttn-applora-gradient:hover span,
.bttn-applora-gradient span,
.bttn-applora-gradient i,
.social-applora-gradient i,
#home.bg-color,
.dropdown-menu,
.nav-sec.top-nav-collapse,
.about .mobile-features .nav-pills>li>a:hover,
.about .mobile-features .nav-pills>li.active-icon>a,
.features,
.feat-butt .bttn-applora-gradient:hover span,
.testimonials-style .testimonial-item .quote-icon span,
.testimonials-style.owl-theme .owl-dots .owl-dot.active span,
.testimonials-style.owl-theme .owl-dots .owl-dot:hover span,
.pricing-table .ribbon span,
.pricingTable .pricingTable-header,
.pricingTable-signup .bttn-applora-gradient:hover span,
.team .team-overlay,
.team.active,
.our-team .applora-social-links a i,
.our-team .applora-social-links a span,
.our-team .applora-social-links a:hover:before,
.faq-content-wrapper:before,
.faqs .panel:before,
.faqs .panel-title a.collapsed:after,
.faqs .panel-title a:after,
.blog-slider.owl-theme .owl-dots .owl-dot.active span,
.blog-slider.owl-theme .owl-dots .owl-dot:hover span,
.subscribe-box .custom-input button.btn,
#scroll-top,
.one-post .post-text .title-date,
.one-post .post-text .title-text .post-details a i,
.post-pagination ul li.disabled a:hover,
.post-pagination ul li a,
.post-pagination ul li a:hover,
.post-pagination ul li.active a,
.blog-social-fb,
.blog-social-twitter,
.blog-social-gplus,
.blog-social:hover > .blog-social-icon i,
.part-title h4:after,
.form-control:focus + button i,
.archive-blog .archive-content ul li i,
.category-blog .category-content ul li i,
.posts-style .tab-post-nav li.active a,
.posts-style .tab-post-nav li.active a:before,
.gallery-feed>a:before,
.pe-7s-share:before,
.blog-slider.owl-theme .owl-dots .owl-dot.active span,
.blog-slider.owl-theme .owl-dots .owl-dot:hover span,
.post-butt2 span,
.part-title h4:after,
.ribbon-front,
blockquote:before,
.post-det .tags-post p i,
.post-det .share-post a i,
.replay,
.replay i,
.replay:hover,
.comment-meta i,
.comments-section h4 i,
.comment-reply-form h4 i,
.comment-reply-form .butt-reply .bttn-applora-gradient:hover span,
.comment-reply-form .butt-reply .bttn-applora-gradient:hover i,
.sgl-post blockquote i,
.sgl-post .post-butt2 i,
.sgl-post .post-journy a,
.sgl-post .post-journy a i,
.features02 .single-feat02 .icon-feat02 i,
.mobile-services .left-ser-side .single-ser .icon-ser i,
.mobile-services .right-ser-side .single-ser .icon-ser i,
.mobile-services .left-ser-side .single-ser .icon-ser:before,
.mobile-services .right-ser-side .single-ser .icon-ser:before,
.mobile-services .left-ser-side .single-ser .icon-ser.active-service,
.mobile-services .right-ser-side .single-ser .icon-ser.active-service,
.a-btn-symbol i,
.a-btn-text,
.a-btn:hover span,
.a-btn span,
.a-btn i,
.testimonials02,
.testimonials02 .testimonial .icon,
.pricing-table02 .ribbon span,
.pricing-table02 .pricingTable02 .title,
.blog-slider02.owl-theme .owl-dots .owl-dot.active span,
.blog-slider02.owl-theme .owl-dots .owl-dot:hover span,
#loading-mask
{
    background: -webkit-linear-gradient(-45deg, #5f2c82, #ca4966);
    background: -moz-linear-gradient(-45deg, #5f2c82, #ca4966);
    background: -o-linear-gradient(-45deg, #5f2c82, #ca4966);
    background: linear-gradient(-45deg, #5f2c82, #ca4966);
}

.title-underline i,
.bttn-applora-gradient:hover span,
.bttn-applora-gradient span,
.bttn-applora-gradient i,
.social-applora-gradient i,
.feat-butt .bttn-applora-gradient:hover span,
.testimonials-style .testimonial-item .quote-icon span,
.pricingTable-signup .bttn-applora-gradient:hover span,
.our-team .applora-social-links a i,
.our-team .applora-social-links a span,
.faqs .panel-title a.collapsed:after,
.faqs .panel-title a:after,
.one-post .post-text .title-text .post-details a i,
.post-pagination ul li a,
.blog-social:hover > .blog-social-icon i,
.form-control:focus + button i,
.archive-blog .archive-content ul li i,
.category-blog .category-content ul li i,
.posts-style .tab-post-nav li.active a,
.pe-7s-share:before,
.post-butt2 span,
.post-det .tags-post p i,
.post-det .share-post a i,
.replay,
.replay i,
.replay:hover,
.comment-meta i,
.comment-reply-form .butt-reply .bttn-applora-gradient:hover span,
.comment-reply-form .butt-reply .bttn-applora-gradient:hover i,
.sgl-post blockquote i,
.sgl-post .post-butt2 i,
.sgl-post .post-journy a,
.sgl-post .post-journy a i,
.features02 .single-feat02 .icon-feat02 i,
.mobile-services .left-ser-side .single-ser .icon-ser i,
.mobile-services .right-ser-side .single-ser .icon-ser i,
.a-btn-symbol i,
.a-btn-text,
.a-btn:hover span,
.a-btn span,
.a-btn i,
.testimonials02 .testimonial .icon
{
    -webkit-background-clip: text;
    color: transparent;
}

.bttn-applora-gradient:hover span {
    color: #FFF;
}

.author-comment cite a:hover,
.post-title-main .post-body .post-title02>a:hover,
.article-tag:hover,
.post-title-main .post-body .post-title2>a:hover,
.posts-style .tab-content>.tab-pane .media-body a:hover,
.one-post .post-text .title-text .title-post:hover {
    color: #333 !important;
}

.screenshots .owl-next:hover,
.screenshots .owl-prev:hover,
.about .mobile-features .tab-content>.tab-pane h4 span,
.testimonials-style .testimonial-item .quote-icon,
.pricingTable .heading,
.footer .copyright p a,
.one-post .post-text .title-text .title-post,
.archive-blog .archive-content ul li a:hover,
.category-blog .category-content ul li a:hover,
.posts-style .tab-content>.tab-pane .media-body a,
.post-title-main .post-body .post-title2>a,
.article-tag,
.blog-sidebar .archive-blog .archive-content ul li a.active,
.blog-sidebar .category-blog .category-content ul li a.active,
.post-det .tags-post p a,
.author-comment cite a,
.post-title-main .post-body .post-title02>a
{
    color: #ca4966 !important;
}

.bttn-applora-gradient:before,
.social-applora-gradient:before,
.a-btn:before,
.screenshots .owl-next,
.screenshots .owl-prev
{
    background: #ca4966 !important;
    background: -webkit-linear-gradient(-45deg, #5f2c82, #ca4966) !important;
    background: -moz-linear-gradient(-45deg, #5f2c82, #ca4966) !important;
    background: -o-linear-gradient(-45deg, #5f2c82, #ca4966) !important;
    background: linear-gradient(-45deg, #5f2c82, #ca4966) !important;
}

.overlay
{
    background: -webkit-linear-gradient(-45deg, rgba(95, 44, 130, .9), rgba(202, 73, 102, .99));
    background: -moz-linear-gradient(-45deg, rgba(95, 44, 130, .9), rgba(202, 73, 102, .99));
    background: -o-linear-gradient(-45deg, rgba(95, 44, 130, .9), rgba(202, 73, 102, .99));
    background: linear-gradient(-45deg, rgba(95, 44, 130, .9), rgba(202, 73, 102, .99));
}

.statistic-app02 .overlay,
#home.homepage02 .overlay,
#home.bg-video .overlay,
.single-one-team .personal-det
{
    background: -webkit-linear-gradient(-45deg, rgba(95, 44, 130, .9), rgba(202, 73, 102, .9));
    background: -moz-linear-gradient(-45deg, rgba(95, 44, 130, .9), rgba(202, 73, 102, .9));
    background: -o-linear-gradient(-45deg, rgba(95, 44, 130, .9), rgba(202, 73, 102, .9));
    background: linear-gradient(-45deg, rgba(95, 44, 130, .9), rgba(202, 73, 102, .9));
}

.a-btn:hover span {
    color:#fff !important;
}

.pic img,
.testimonials-style .testimonial-item .author-thumb img
{
    border: 2px dashed #ca4966;
}

.faqs .panel-heading:before {
    border: 2px solid #ca4966;
}

.pricing-table .ribbon span::before
{
    border-left: 3px solid #ca4966;
    border-top: 3px solid #ca4966;
}

.pricing-table .ribbon span::after
{
    border-right: 3px solid #ca4966;
    border-top: 3px solid #ca4966;
}

.form-control:focus {
    border-color: #ca4966;
}

.ribbon-edge-topleft {
    border-color: transparent #ca4966 transparent transparent;
}

html:lang(ar) .ribbon-edge-topleft {
    border-color: transparent transparent #ca4966 transparent;
}

.pricing-table02 .ribbon span::before {
    border-left: 3px solid #ca4966;
    border-top: 3px solid #ca4966;
}

.pricing-table02 .ribbon span::after {
    border-right: 3px solid #ca4966;
    border-top: 3px solid #ca4966;
}

.video-app {
    background: url(../../img/bg/video-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer .copyright p a:hover {
    color: #fff !important
}

.color-switcher .toggle:hover {
    color: #ca4966
}

@media only screen and (max-width: 767px) {
    .navbar-nav,
    .top-nav-collapse
    {
        background: -webkit-linear-gradient(-45deg, #5f2c82, #ca4966);
        background: -moz-linear-gradient(-45deg, #5f2c82, #ca4966);
        background: -o-linear-gradient(-45deg, #5f2c82, #ca4966);
        background: linear-gradient(-45deg, #5f2c82, #ca4966);
    }
}